@model Queens_of_the_Stone_Age_Store.Models.UserViewModel
@using Queens_of_the_Stone_Age_Store.Models
@{
    ViewBag.Title = "UserView";
}

<h2>UserView</h2>
<table class="table table-striped">
    <tr>
        <th>User_ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Role_ID</th>
    </tr>
    @foreach (User _UserInfo in Model.UserList)
    {
        <tr>
            @using (Html.BeginForm("UpdateUser", "User", FormMethod.Post))
            {
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => _UserInfo.User_ID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => _UserInfo.User_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => _UserInfo.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => _UserInfo.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => _UserInfo.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => _UserInfo.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => _UserInfo.Role_ID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => _UserInfo.Role_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteUser", new { Delete_User = _UserInfo.User_ID }, new { @class = "btn btn-danger" })
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="btn btn-info" />
                        </div>
                    </div>
                </td>
            }
        </tr>
    }
    <tr>
        @{User newUser = new User();}
        @using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
        {
            <td>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => newUser.User_ID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => newUser.User_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => newUser.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => newUser.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => newUser.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => newUser.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => newUser.Role_ID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => newUser.Role_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                @Html.ActionLink("???", "DeleteUser", new { Delete_User = newUser.User_ID }, new { @class = "btn btn-danger" })
            </td>
            <td>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-info" />
                    </div>
                </div>
            </td>
        }
    </tr>
</table>

